<div class="tabbable" id="tankuang">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#home">
                <i class="green ace-icon fa fa-home bigger-120"></i>
                基本信息
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#messages">
                权限设置
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-user"> 用户ID：</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-user" placeholder="Username" v-model="userid"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-password"> 密码： </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-password" placeholder="Password" v-model="password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-name"> 用户姓名： </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-name" placeholder="Name"   v-model="name"/>
                                <!--<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">Inline help text</span>
											</span>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"> 用户性别：</label>

                            <div class="col-sm-9">
                                <input name="sex" type="radio" id="form-field-man" v-model="picked" value="男">
                                <label for="form-field-man">
                                    男
                                </label>
                                <input type="radio" name="sex"  id="form-field-wuman" v-model="picked" value="女"  />
                                <label for="form-field-wuman">
                                    女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-phone"> 手机：</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-phone" placeholder="Username" class="form-control"  v-model="phone"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-email"> Email：</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-email" placeholder="Email" class="form-control" v-model="email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-department"> 单位：</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-department" placeholder="Department" class="form-control" v-model="department"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-name"> 状态： </label>

                            <div class="col-xs-3">
                                <label>
                                    <input name="switch-field-1" class="ace ace-switch ace-switch-4" type="checkbox" v-model="checked"/>
                                    <span class="lbl" style="margin-top: 7px;"></span>
                                </label>
                            </div>

                        </div>

                    </form>

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>

        <div id="messages" class="tab-pane fade">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-list">
                        <li class="open" v-for="(menu, index) in menus">
                            <a href="#" class="dropdown-toggle">
                                <i :class="'menu-icon fa ' + iconCls[index]"></i>
                                <span class="menu-text"> {{menu.name}} </span>

                                <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <b class="arrow"></b>
                            <ul class="submenu submenu1">
                                <li class="" v-for="submenu in menu.submenus">
                                    <a href="javascript:;">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        {{submenu.name}}
                                        <i class="submenu-privileges">
                                            <span v-for="privilege in submenu.privileges">{{privilege.name}}<input type="checkbox"></span>
                                        </i>
                                    </a>
                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>

                    </ul><!-- /.nav-list -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('#myTab a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        //if($(e.target).attr('href') == "#home") doSomethingNow();
    });
    var vmadd = new Vue({
        el: '#tankuang',
        data: {
            checked:true,
            name:'',
            phone:'',
            password:'',
            department:'',
            userid:'',
            email:'',
            picked:'',
            userId: 'root',
            userName: 'INFCN',
            menus: [],
            iconCls: ['fa-desktop', 'fa-list', 'fa-pencil-square-o', 'fa-list-alt', 'fa-calendar', 'fa-picture-o', 'fa-tag']
        },
        mounted: function () {
            this.fetchData();
        },
        methods: {
            fetchData: function () {
                var $this = this;
                JqdeProfiles.getFreeView().then(function (result) {
                    if (result.success) {
                        $this.render(result);
                    }
                });
            },
            render: function (result) {
                var menus = [], menuMap = {},privileges={};
                for (var i in result.all) {
                    var service = result.all[i];
                    if (!menuMap[service.folder]) {
                        var moduleMenu = {
                            name: service.folder,
                            submenus: [],

                        };
                        menus.push(moduleMenu);
                        menuMap[service.folder] = moduleMenu;

                    }

                    var serviceMenu = {
                        name: service.serviceName,
                        privileges:[],
                        url: service.serviceId
                    };
                    for(var j in service.privileges){
                        var privilegesMenu={
                            name: service.privileges[j]
                        }
                        serviceMenu.privileges.push(privilegesMenu);
                    }
                    menuMap[service.folder].submenus.push(serviceMenu);

                }

                this.menus = menus;
                this.userId = result.userId;
                this.userName = result.userName;

                console.log(menus)
                var $this = this;
                setTimeout(function () {
                    $this.init();
                }, 200);
            },
            init: function () {
                // all links with hash tags are ignored
                $('.nav a[href="#"]').click(function (e) {
                    e.preventDefault();
                    $this = $(this);
                    if ($this.parents('.menu-min').length == 0)
                        $this.parent().find('.submenu1').slideToggle();
                });
            }
        }
    });










</script>